{% extends 'basic1.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'ts/ts_quiz.css' %}">
<title>Quiz Setup</title>
{% endblock title %}

{% block content %}
<h1>QUIZ</h1>

<div class="container">
  <h5>ONE WORD ANSWERS PLEASE</h5>
  <form action="" method="POST">
    {% csrf_token %}

    <div id="form_zone">
      {% for q in form %}
        <div class="form_area">
          <div class="heading">
            {{q.help_text}}
          </div>
          <div class="entry">
            {{q}}
          </div>
        </div>
      {% endfor %}
    </div>
  <input type="submit" class='btn' name='quiz' value='Done'>
  </form>
</div>

{% endblock content %}
