{% extends 'basic1.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'ts/ts_ttma.css' %}">
<title>Talk to Me About Setup</title>
{% endblock title %}

{% block content %}

<div class="container">
  <form action="" method="POST">
    {% csrf_token %}
    <h1>Talk to me About</h1>
    <h2>{{form.question}}</h2>
    <h5>ONE WORD ANSWERS PLEASE</h5>
    <div id="form_zone">
      <div class="form_area">
        {% for q in form %}
        {{q}}
        {% endfor %}
      </div>
    </div>
  <input type="submit" class='btn' name='quiz' value='Done'>
  </form>
</div>

{% endblock content %}
