{% extends 'basic1.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'ts/ts_ttma.css' %}">
<title>Talk to Me About Setup</title>
{% endblock title %}

{% block content %}
<h1>Talk to me About</h1>

<div class="container">
  <h5>ONE WORD ANSWERS PLEASE</h5>
  <h2>{{form.question}}</h2>
  <form action="" method="POST">
    {% csrf_token %}
    {% for q in form %}
      {{q.help_text}}
      {{q}}
      <br>
    {% endfor %}
  <input type="submit" name='quiz' value='Done'>
  </form>
</div>

{% endblock content %}
