{% extends 'basic1.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'ts/ts_workdle.css' %}">
<title>Workdle Setup</title>
{% endblock title %}

{% block content %}
<h1>Workdle</h1>

<div class="container">
  <h5>ONE WORD ANSWERS PLEASE</h5>
  <h5>More than 5 letters will make it difficult lol</h5>
  <form action="" method="POST">
    {% csrf_token %}
    <div id="workdle_form">
      <div class="questions">
        <div class="question_title">
          <h2>Question</h2>
        </div>
        <div class="question_zone">
          {{form.qq1}}
          {{form.qq2}}
          {{form.qq3}}
          {{form.qq4}}
          {{form.qq5}}
        </div>
      </div>
      <div class="answers">
        <div class="answer_title">
          <h2>Answers</h2>
        </div>
        <div class="answer_zone">
          {{form.q1}}
          {{form.q2}}
          {{form.q3}}
          {{form.q4}}
          {{form.q5}}
        </div>
      </div>
    </div>
  <input type="submit" class='submit' name='quiz' value='Done'>
  </form>
</div>

{% endblock content %}
