h1 {
  text-align: center;
  margin-bottom: 2rem;
}

/* Tool Zone ################### */
.tools_zone {
  margin-bottom: 1rem;
}

/* People Zone ################## */

.people_area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.people {
  flex-basis: 20%;
  min-height: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: lightgrey;
}
