{% extends 'basic1.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'compliment/compliment_home.css' %}">
<title>Compliment Home</title>
{% endblock title %}

{% block content %}

<h1>Compliment Home</h1>

<div class="tools_zone">
  <div class="container">
    <div class="tools_area">
      <a href="{% url 'compliment_home' %}">All</a>
      <form action="" method="get"> <!-- //TODO: fix the url that is showing -->
        {% csrf_token %}
        <input type="text" name="q" placeholder="Search...">
        <input type="submit" name="search_btn" value="Search">
      </form>
    </div>
  </div>
</div>

<div class="people_zone">
  <div class="container">
    <div class="people_area">
      {% for user in users %}
        {% if user.username != 'super' %}
        <a href="{% url 'compliment_user' user.id %}" class="people">
          {{user.username}}
        </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>


{% endblock content %}
