:root {
  --bg-main: #FFE4C4;
  --bg-alt: #F5F5DC;
}

h1 {
  text-align: center;
}

.people_area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.person_place {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  height: 10rem;
  margin-bottom: 0.2rem;
}

.person_place > * {
  flex-basis: 33%;
}

.left_side {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right_side {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-main);
}

.color-main {
  background-color: var(--bg-main);
  width: 100%;
}

.color-alt {
  background-color: var(--bg-alt);
  width: 100%;
}

.topic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 33.3333%;
}
