{% extends 'basic1.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'salvation/salvation_home.css' %}">
<title>Salvation</title>
{% endblock title %}

{% block content %}

<h1>Salvation</h1>


<div class="salvation_zone">
  <div class="container">
    <div class="salvation_area">
      <iframe width="720" height="405" src="https://www.youtube.com/embed/CLTAqJavYZU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="verse_zone">
  <div class="container">
    <div class="verse_area">
      <div class="verse1">
        “He that believeth on him is not condemned: but he that believeth not is condemned already, because he hath not believed in the name of the only begotten Son of God.” - <sub>John 3:18</sub>
      </div>
      <div class="verse2">
        "<sup>8</sup>For by grace are ye saved through faith; and that not of yourselves: it is the gift of God: <sup>9</sup>Not of works, lest any man should boast. - <sub>Ephesians 2:8-9</sub>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
